.acs-new-generation-section {
    position: relative;
    width: calc(100% + 600px);
    margin-left: calc(-50vw + 8%); 
    margin-right: calc(-50vw + 50%); 
    overflow: hidden; 
}

.acs-product {
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 12px; 
    transition: transform 0.4s ease, box-shadow 0.4s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    background-color: white;
    padding-top: 40px;
}

.acs-product img {
    width: 65%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 12px;
    transform: translateY(20px);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease; */

}

/* .product img:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;

} */

.acs-product:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.acs-product-info {
    position: absolute;
    left: 200px;
    transform: translateX(-50%);
    background-color: transparent;
    top: 22px;
    
}

.acs-product-info h2 {
    width: 350px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: transparent;
    transform: translateY(320px);
}

.acs-product-info p {
    width: 350px;
    margin-bottom: 10px;
    background-color: transparent;
    transform: translateY(320px);
}

.slick-prev {
    transform: translateX(225px);
    z-index: 2;
    scale: 3;
    color: #858585; 
    border-radius: 50%;
    opacity: 0.8;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.slick-next {
    transform: translateX(-25px);
    z-index: 2;
    scale: 3;
    color: #858585; 
    border-radius: 50%;
    opacity: 0.8;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.slick-slider {
    width: 100%; 
    padding: 8px;
    overflow: hidden;
    
}

.slick-slide {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.slick-track {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden; 
    display: flex;
}

.uu-dai {
    color: #b64400;
}
