.apple-logo {
    transform: translateX(200px);
}
.de-apple-logo {
    transform: translateX(200px);
}

.icon-cluster {
    transform: translateX(-200px);
}

.de-icon-cluster {
    transform: translateX(0px);
}

.dropdown {
    width: 500rem;
    position: absolute;
    transform: translate(-420px,0px);
    padding-left: 1300%;
}

